{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center">Registrarse</h3>
      <div class="form-group">
        <label for="email">Correo Electronico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="ejemplo@dominio.com"
        />
      </div>
      <div class="form-group">
        <label for="firstName">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Nombre"
        />
      </div>
      <div class="form-group">
        <label for="password1">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Contraseña"
        />
      </div>
      <div class="form-group">
        <label for="password2">Confirma tu Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirma tu Contraseña"
        />
      </div>
      <div class="form-group">
          <label for="level">Nivel de juego:</label>
            <select name="levels" id="levels">
              <option value="Basico">Basico</option>
              <option value="Medio">Medio</option>
              <option value="Alto">Alto</option>
            </select>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}