<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Datos reserva{% endblock %}
{% block content %}
  <h3 align="center">Datos Reserva:</h3>
  <div class="container">
    <div class="card">
      <div class="card-body mx-auto text-center">

 <table class="table table-responsive table-bordered">
    <thead>
       <th>Fecha</th>
       <th>Bloque</th>
       <th>Cancha</th>
       <th>Usuario</th>
       <th>Fecha reserva</th>
       <th></th>
    </thead>

    {% for dato in datos %}
        {% if dato[5]== None and dato[6]== None %}
        <tr>
          <td>{{dato[2]}}</td>
          <td>{{dato[3]}}</td>
          <td> {{dato[8]}}</td>
          <td>{{mail}}</td>
          <td>{{dato[5]}}</td>
       </tr>
       {% endif %}
    {% endfor %}
 </table>
 <h3 align="center">Mover Reserva:</h3>
 <form action = "{{ url_for('conf_edit') }}" method="POST">
     <table class="table table-responsive table-bordered">
        <thead>
           <th>Fecha</th>
           <th>Bloque</th>
           <th>Cancha</th>
           <th></th>
        </thead>

        {% for dato in datos1 %}
            {% if dato[1] == true %}
            <tr>
              <td>{{dato[2]}}</td>
              <td>{{dato[3]}}</td>
              <td> {{dato[8]}}</td>
              <td><button type="submit" class="btn btn-success" name="idrec" value={{[dato[0],idrecibida]}}>Mover</button></td>
           </tr>
           {% endif %}
        {% endfor %}
     </table>
 </form>
</div>
</div>
</div>
{% endblock %}
