<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Datos reserva{% endblock %}
{% block content %}
  <h3 align="center">Datos Reserva:</h3>
  <div class="container">
    <div class="card">
      <div class="card-body mx-auto text-center">

 <table class="table table-responsive table-bordered">
    <thead>
       <th>Fecha</th>
       <th>Bloque</th>
       <th>Cancha</th>
       <th>Fecha reserva</th>
    </thead>

    {% for dato in datos %}
        {% if dato[5]== None and dato[6]== None %}
        {% if dato[3] == 1 %}
        <tr>
          <td>{{dato[2]}}</td>
          <td>12:00-12:40</td>
          <td>{{dato[8]}}</td>
          <td>{{dato[5]}}</td>
       </tr>
       {% elif dato[3] == 2 %}
       <tr>
         <td>{{dato[2]}}</td>
         <td>12:40-13:20</td>
         <td>{{dato[8]}}</td>
         <td>{{dato[5]}}</td>
      </tr>
      {% elif dato[3] == 3 %}
      <tr>
        <td>{{dato[2]}}</td>
        <td>13:20-14:00</td>
        <td>{{dato[8]}}</td>
        <td>{{dato[5]}}</td>
     </tr>
     {% elif dato[3] == 4 %}
     <tr>
       <td>{{dato[2]}}</td>
       <td>14:00-14:40</td>
       <td>{{dato[8]}}</td>
       <td>{{dato[5]}}</td>
    </tr>
    {% elif dato[3] == 5 %}
    <tr>
      <td>{{dato[2]}}</td>
      <td>14:40-15:20</td>
      <td>{{dato[8]}}</td>
      <td>{{dato[5]}}</td>
   </tr>
   {% elif dato[3] == 6 %}
   <tr>
     <td>{{dato[2]}}</td>
     <td>15:20-16:00</td>
     <td>{{dato[8]}}</td>
     <td>{{dato[5]}}</td>
  </tr>
       {% endif %}
       {% endif %}
    {% endfor %}
 </table>
</div>
</div>
</div>
<div class="container">
  <div class="card">
    <div class="card-body mx-auto text-center">
 <h3 align="center">Mover Reserva:</h3>
 <form action = "{{ url_for('conf_edit') }}" method="POST">
     <table class="table table-responsive table-bordered">
        <thead>
           <th>Fecha</th>
           <th>Bloque</th>
           <th>Cancha</th>
           <th></th>
        </thead>

        {% for dato in datos1 %}
            {% if dato[1] == true %}
            {% if dato[3] == 1 %}
            <tr>
              <td>{{dato[2]}}</td>
              <td>12:00-12:40</td>
              <td> {{dato[8]}}</td>
              <td><button type="submit" class="btn btn-success" name="idrec" value={{dato[0]}}>Mover</button></td>
           </tr>
           {% elif dato[3] == 2 %}
           <tr>
             <td>{{dato[2]}}</td>
             <td>12:40-13:20</td>
             <td> {{dato[8]}}</td>
             <td><button type="submit" class="btn btn-success" name="idrec" value={{dato[0]}}>Mover</button></td>
          </tr>
          {% elif dato[3] == 3 %}
          <tr>
            <td>{{dato[2]}}</td>
            <td>13:20-14:00</td>
            <td> {{dato[8]}}</td>
            <td><button type="submit" class="btn btn-success" name="idrec" value={{dato[0]}}>Mover</button></td>
         </tr>
         {% elif dato[3] == 4 %}
         <tr>
           <td>{{dato[2]}}</td>
           <td>14:00-14:40</td>
           <td> {{dato[8]}}</td>
           <td><button type="submit" class="btn btn-success" name="idrec" value={{dato[0]}}>Mover</button></td>
        </tr>
        {% elif dato[3] == 5 %}
        <tr>
          <td>{{dato[2]}}</td>
          <td>14:40-15:20</td>
          <td> {{dato[8]}}</td>
          <td><button type="submit" class="btn btn-success" name="idrec" value={{dato[0]}}>Mover</button></td>
       </tr>
       {% elif dato[3] == 6 %}
       <tr>
         <td>{{dato[2]}}</td>
         <td>15:20-16:00</td>
         <td> {{dato[8]}}</td>
         <td><button type="submit" class="btn btn-success" name="idrec" value={{dato[0]}}>Mover</button></td>
      </tr>
           {% endif %}
           {% endif %}
        {% endfor %}
     </table>
     <input type="hidden" class="form-control" id="idvieja" name="idvieja" value={{idrecibida}}>
 </form>
</div>
</div>
</div>
{% endblock %}
