{% extends "base.html" %} {% block title %}Mis Reservas{% endblock %} {% block content
    %}
    <h3 align="center">Reservas</h3>
    <div class="container">
      <div class="card">
        <div class="card-body mx-auto text-center">
          <table class="table table-responsive table-bordered">
            <thead>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Cancha</th>
            </thead>

          {% for dato in data %}
            <tr>
              <td>{{dato[0]}}</td>
              <td>{{bloques_arr[dato[1]-1]}}</td>
              <td>{{dato[2]}}</td>
            </tr>

          {% endfor %}
        </table>
        </div>
      </div>
    </div>
    {% endblock %}
