<!DOCTYPE html>
<!---formulario para completar por el admin--->
{% extends "base.html" %} {% block title %}Datos reserva{% endblock %}
{% block content %}
  <h3 align="center">Buscar Reserva:</h3>

 <table cellspacing="0" cellpadding="3" border="1" >
    <thead>
       <th>Fecha</th>
       <th>Bloque</th>
       <th>Cancha</th>
       <th>Fecha reserva</th>
       <th></th>
    </thead>

    {% for dato in datos %}
       <tr>
          <td>{{dato[2]}}</td>
          <td>{{dato[3]}}</td>
          <td> {{dato[8]}}</td>
          <td>{{dato[13]}}</td>
          <td><form action = "{{ url_for('conf_elim') }}" method="POST"><button type="submit" class="btn btn-primary" name="idrec" value=dato[0]>Eliminar</button></form></td>
       </tr>
    {% endfor %}
 </table>
{% endblock %}
